*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-decoration: none;
}

a:link{
  color: aqua;
  text-decoration: underline;
}
a:hover{
  color: rgb(243, 45, 27);
}
a:visited{
  color: rgb(0, 115, 255);
}

main{
  height: 100%;
  color: #e5e5e5 ;
  margin: 0px 15vw;
  padding: 2.5vh 4vh 3vh;
  background-color: #172c58;
  /* border-left-style: solid;
  border-right-style: solid;
  border-color: rgb(0, 0, 0); */
  display: flex;
  flex-direction: column;
  
}

hr{
  margin: 3vh;
  border-color: #e99a1b;
  border-radius: auto;
  border-width: auto;
}

p{
}

p::first-letter{
  margin-left: 1vw;
}

.title{
  color: #fca311;
  padding: 1vh 1vw;
}

.content{
  padding-left: 2.5vw;
  padding-right: 0.5vw;
}

.content-list-T{
  background-color: burlywood;
  padding-left: 1vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  
  flex: 1 1 30%; /*grow | shrink | basis */
  
  flex-wrap: wrap;
  list-style: none;
  margin-left: 2vw;

}

.content-list-T2{
  background-color: darkred;
  padding-left: 1vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  
  flex: 1 1 30%; /*grow | shrink | basis */
  
  flex-wrap: wrap;
  list-style: none;
  margin-left: 2vw;

}


.content-list{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  margin-left: 2vw;
}
