*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-decoration: none;
}

a:link{
  color: aqua;
  text-decoration: underline;
}
a:hover{
  color: rgb(243, 45, 27);
}
a:visited{
  color: rgb(0, 115, 255);
}

main{
  height: 100%;
  color: #e5e5e5 ;
  margin: 0px 15vw;
  padding: 2.5vh 4vh 3vh;
  background-color: #172c58;
  /* border-left-style: solid;
  border-right-style: solid;
  border-color: rgb(0, 0, 0); */

  

}
hr{
  margin: 3vh;
  background-color: black;
}

p{
}

p::first-letter{
  margin-left: 1vw;
}

.title{
  color: #fca311;
  padding: 1vh 1vw;
}

.content{
  padding-left: 2.5vw;
  padding-right: 0.5vw;
}

.content-list{
  list-style: none;
  margin-left: 2vw;
}
